@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMonoVariableVF.woff2") format("woff2"), url("/fonts/GeistMonoVariableVF.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMonoVariableVF.woff2") format("woff2"), url("/fonts/GeistMonoVariableVF.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
